@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image{
  position: relative;
  height: 150px;
  width: 150px;
  border-color: #4070f4;
  border-radius: 50%;
  padding: 3px;
}

.image .profile-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
}